.texto1rosa {
    color: #FF6699;
}

.texto1roxoescuro {
    color: #000033;
}

.texto1branco {
    color: #FFFFFF;
}
.fonte-recoleta {
    font-family: 'Recoleta';
    font-family: 'Recoleta';
    src: local('Recoleta Bold'), local('Recoleta-Bold'),
        url('Recoleta-Bold.woff2') format('woff2'),
        url('Recoleta-Bold.woff') format('woff'),
        url('Recoleta-Bold.ttf') format('truetype');
    font-style: normal;
}

.fonte-arial {
    font-family: Arial, Helvetica, sans-serif;
}

.fonte-bold-700 {
    font-weight: 700;
}

.fonte-1rem {
    font-size: 1rem;
}

.fonte-2rem {
    font-size: 2rem;
}

.fonte-3rem {
    font-size: 3rem;
}

.linkdoscards {
    text-decoration: none;
    color:black;
}

.teste {
    background-color: #FFFFFF;
}