body {
    background-color: darkgrey;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: black;
}

p{    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: black;
    
}

*{
    margin: 0;
    color: darkcyan;
    box-sizing: border-box;
}

#square {
    width: 100%;
    height: fit-content;
    background-color: darkcyan;
}

