.texto-verde-agua {
    color: #00E676;
}

.fonte-arial {
    font-family: Arial, Helvetica, sans-serif;
}

.fonte-3rem {
    font-size: 3rem;
}

.fonte-bold-700 {
    font-weight: 700;
}

.linkdoscards {
    text-decoration: none;
    color:black;
}

.imagemdomain {
    background-image: url(imagens/—Pngtree—happy\ female\ doctor\ in\ medical_8800230.png);
}